.hp-abt-title{
    color: rgb(144, 58, 253);
}

.hp-abt-desc{
    border-left: solid rgb(144, 58, 253) 5px;
}

.hp-ach{
    color: white;
    background-color: rgb(144, 58, 253);
}
.hp-ach-cd{
    color: white;
    background-color: rgb(144, 58, 253);
}