

.hp-abt-title{
    color: rgb(144, 58, 253);
}

.hp-abt-desc{
    border-left: solid rgb(144, 58, 253) 5px;
}

.hp-abt-img{
    width: 75%;
    margin-top: 10px;
}

.hp-ach{
    color: white;
    background-color: rgb(144, 58, 253);
}
.hp-ach-cd{
    color: white;
    background-color: rgb(144, 58, 253) !important;
    box-sizing: border-box;
}

.hp-rew{
    height: max-content !important;
}

.hp-rew-2{
    height: max-content;
}

.hp-rew-title{
    color:  rgb(144, 58, 253);
}

.hp-rew-cl{
    box-shadow: 5px -1px 1.5px #968989;
    padding-top: 10px;
    border: solid #968989 1px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: cursive;
    color: rgb(85, 36, 149);
    height: max-content;
}

.hp-rew-cl-img{
    display: block;
    align-items: center;
    text-align: center;
    border: none;
    height: max-content;
}

.hp-rew-cl-img img{
    margin: auto;
    width: 75%;
    height: 75%;
    object-fit: fill;
    border: white solid;
    box-sizing: border-box;
}

.hp-rew-cl-txt{
    border: none;
    height: max-content;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.hp-rew-cl-pdet{
    font-family: 'Cairo Play', cursive;
}

@media (max-width: 590px) {
    .hp-csl-cptn a{
        padding: 2px;
        font-size: xx-small;
    }
    .hp-csl-cptn h3{
        font-size: x-small;
    }

    .hp-abt-img-cnt{
        width: 100% !important;
        align-items: center;
        padding: auto;
        box-sizing: border-box;
        height: auto;
    }

    .hp-abt-img{
        width: 100% !important;
        height: auto;
    }
}
@media (max-width: 320px) {
    .hp-csl-cptn a{
        padding: 1px;
        font-size: xx-small !important;
    }
    .hp-csl-cptn h3{
        font-size: xx-small;
    }

    .hp-abt-img-cnt{
        width: 100% !important;
        align-items: center;
        padding: auto;
        box-sizing: border-box;
        height: auto;
    }

    .hp-abt-img{
        width: 100% !important;
        height: auto;
    }
}


@media (max-width: 420px) {
    .hp-rew-cl-txt{
        font-size: 10px;
        margin-bottom: 1px;
    }

    .hp-rew-cl-pdet{
        font-size: 10px;
    }
}

@media (min-width: 500px) {
    .hp-rew-cl-txt{
        font-size: 24px;
        margin-bottom: 2px;
    }

    .hp-rew-cl-pdet{
        font-size: 15px;
    }
}

@media (max-width: 330px){
    .hp-csl-cptn h3{
        /* display: none !important; */
        visibility: hidden;
    }
    .hp-csl-cptn a{
        font-size: xx-small !important;
    }
}