.cnt-int{
    font-family: 'Edu NSW ACT Foundation', cursive;
}


.cnt-dt{
    width: max-content;
    height: max-content;
    border: solid gray 0.5px;
    border-radius: 5px;
    margin: auto;
    color: purple;
    font-family: 'Oswald', sans-serif;

}

.cnt-sm-lnk{
    text-decoration: none;
    color: purple;
}

.cnt-sm-lnk:hover{
    color: orange;
}