.ev-csl-cntnr{
    text-align: center;
}


.ev-csl{
    text-align: center;
    width: 100%;
    height: max-content;
    padding: 10px;
}

.ev-csl-arrow{
    color: purple;
    
}

.ev-csl-arr-next{
    position: absolute;
    right: -25px;
}

.ev-csl-arr-prev{
    position: absolute;
    left: -25px;
}

.ev-csl-itm{
    width: 50%;
    height: max-content;
    border: solid #aaaaaa;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px  #aaaaaa;
    text-align: center;
}

.ev-csl-itm-ttl{
    font-family: 'Great Vibes', cursive;
    color: blueviolet;
}

.ev-csl-itm-vid{
    border-right: solid rgb(152, 141, 153) 1.5px;
    padding-left: 30px !important;
}

.ev-csl-itm-desc{
    width: max-content;
    text-align: justify;
    font-size: 22px;
    padding-left: 1.5rem !important;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

@media (max-width: 995px){
    .ev-csl-vid{
        width: 180px;
        height: 360px;
    }

    .ev-csl-itm-desc{
        font-size: 18px;
    }
}

@media (max-width: 768px){
    .ev-csl-vid{
        width: 360px;
        height: 640px;
    }

    .ev-csl-itm-vid{
        border-right: none !important;
        padding-left: 11px !important;
    }
}

@media (max-width: 540px){
    .ev-csl{
        width: max-content;
        height: max-content;
        margin: auto;
    }
    .ev-csl-vid{
        padding: 10px;
    }
    .ev-csl-itm-desc{
        display: none;
    }
}

@media (max-width: 430px) {
    .ev-csl-arr-next{
        display: none;
    }
    
    .ev-csl-arr-prev{
        display: none;
    }
}


@media (max-width: 392px) {
    .ev-csl-vid{
        width: 223px;
        height: 381px;
    }

    .ev-csl-itm-ttl{
        font-size: 20px;
    }
}
