.ft-footer{
    margin-top: 30px;
    background-color: rgb(238, 158, 8);
    height: max-content;
    color: white;
}

.ft-col ul{
    list-style-type: none;
    padding: 0;
    margin: 0%;
}

.ft-col ul li a{
    text-decoration: none;
    color: white;
}

.ft-col ul li a:hover{
    color: yellow;
}