.ed_removeAnchorTagLine{
    text-decoration: none;
}

.nav-lnk{
    color: white !important;
}

.nav-lnk:hover{
    color: rgb(251, 242, 224) !important;
}

.app-sm{
    width: max-content;
    height: max-content;
    color: white;
    position: fixed;
    top: 35%;
    padding: 5px;
}

.app-sm a{
    text-decoration: none;
    color: white;
}
.app-sm a:hover{
    color:rgb(144, 58, 253);
}