.app-nav{
    background: linear-gradient(60deg, rgb(195, 88, 252),tomato);
}

.ed_removeAnchorTagLine{
    text-decoration: none;
}

.nav-lnk{
    color: white !important;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 17px;
}

.nav-lnk:hover{
    color: rgb(251, 242, 224) !important;
}

.app-sm{
    background: linear-gradient(60deg, rgb(195, 88, 252),rgb(244, 40, 217));
    width: max-content;
    height: max-content;
    color: white;
    position: fixed;
    top: 35%;
    padding: 5px;
}

.app-sm a{
    text-decoration: none;
    color: white;
}
.app-sm a:hover{
    color:rgb(35, 15, 61);
}

.carousel-control-prev{
    width: max-content;
}

.carousel-control-next{
    width: max-content;
}