.tm-vol-mem{
    width: 114.75px;
    height: max-content;
    box-sizing: border-box;
}
.tm-vol-mem img{
    overflow: scroll;
    /* border: solid rgb(144, 58, 253) 7px; */
    box-sizing: border-box;
    width: 100%;
    height: max-content;
}

.tm-vol-name{
    background-color: orange;
    position: absolute;
    top: 40%;
    left: -1%;
    padding-left: 10px !important;
    font-weight: 500;
    padding: 5px;
    font-size: small;
    width: max-content;
}

.tm-vol-det{
    width: 100%;
    height: max-content;
    line-height: 1;
    /* border: solid rgb(144, 58, 253) 7px; */
    box-sizing: border-box;
    background-color: white;
}

.tm-vol-nd{
    font-weight: 500;
    font-size: 20px;
}

.tm-vol-occ{
    font-weight: 400;
    font-size: 12px;
}

.tm-vol-sm{
    margin: auto !important;
    margin-top: 0.7rem !important;
    color: rgb(76, 76, 76);
    width: 40%;
    align-content: center;
}

.tm-vol-sm-lnk:hover{
    color: rgb(144, 58, 253) !important;
}


