.tm-vol-img{
    width: 459px;
    height: 565px;
    box-sizing: border-box;
}
.tm-vol-img img{
    overflow: fill;
    border: solid rgb(144, 58, 253) 7px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.tm-vol-name{
    background-color: orange;
    position: absolute;
    top: 40%;
    left: -1%;
    padding-left: 10px !important;
    font-weight: 500;
    padding: 5px;
    font-size: small;
    width: max-content;
}

.tm-vol-det{
    width: 100%;
    height: 100%;
    border: solid rgb(144, 58, 253) 7px;
    box-sizing: border-box;
    background-color: white;
}